<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidqunyinhui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myapp.com"
                    android:pathPrefix="/qunyihui"
                    android:scheme="android" />
            </intent-filter>
        </activity>
        <activity
            android:name=".self.define.view.TestSelfDefineViewActivity"
            android:process="self.view" />
        <activity android:name=".chapter.five.ChapterFiveMainActivity" />
        <activity android:name=".chapter.six.ChapterSixMainActivity" />
        <activity android:name=".chapter.seven.ChapterSevenMainActivity" />
        <activity android:name=".chapter.ten.ChapterTenMainActivity" />
        <activity android:name=".chapter.twelve.ChapterTwelveMainActivity" />
        <activity android:name=".test.LrcPlayerActivity" />
        <activity android:name=".player.AudioPlayerDemoActivity" />
        <activity android:name=".kaifayishutanshuo.Main2Activity" />
        <activity android:name=".kaifayishutanshuo.chapter.two.ChapterTwoActivity" />
        <activity android:name=".dbflow.DbFlowUseDemoActivity" />
        <activity android:name=".android.widget.recyclerview_demo.RecyclerviewDemoActivity" />
        <activity android:name=".glide.GlideDemoActivity" />
        <activity android:name=".leak.LeakCanaryDemoActivity" />
        <activity android:name=".viewpager_scrollview.ViewPagerDemoActivity" />
        <activity android:name=".selfrxandroid.RxDemoActivity" />
        <activity android:name=".kaifayishutanshuo.chapter.three.ThreeChapterDemoActivity" />
        <activity android:name=".data_and_time.DataAndTimeTestActivity" />
        <activity android:name=".kaifayishutanshuo.chapter.eight.EightChapterActivity" />
        <activity android:name=".lunbotu.LunBoTuActivity" />
        <activity android:name=".kaifayishutanshuo.chapter.twelve.TwelveMainActivity" />
        <activity android:name=".event.EventBusDemoActivity" />
        <activity android:name=".event.EventBusPage1Activity" />
        <activity android:name=".event.EventBusPage2Activity" />
        <activity android:name=".longpic.LongPicMainActivity" />
        <activity android:name=".lunbotu.lunbotwo.LunBoTwoTestActivity" />
        <activity android:name=".vlayout.VlayoutTestActivity" />
        <activity android:name=".android.buttom_dialog.DialogTestActivity" />
        <activity android:name=".android.TextSpanTestActivity" />
        <activity android:name=".rxandroid.RxAndroidTestActivity" />
        <activity android:name=".webview.MyWebViewTest"></activity>
    </application>

</manifest>